@model DnDSB.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <table class="table">
       
        <tr>
          

            <th>Name</th>
            <th>Age</th>
            <th>PlayerName</th>           
        </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Age)</td>
                <td>JJ (Need Relation)</td>             
            </tr>
    </table>
    <table class="table">
        <tr>
            <th width="300">Class and Level</th>
            <th>ECL</th>
            <th>Race/Template</th>
            <th>Size</th>
            <th>Gender</th>
        </tr>
        <tr>
            <td>Cleric 3 (Need Relation)</td>
            <td>3 (Need Calculation)</td>
            <td>Race (Need Relation)</td>
            <td>Size (Need Relation to race)</td>
            <td>@Html.DisplayFor(model => model.Gender)</td>
        </tr>
    </table>
    <dl class="dl-vertical">       
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Initiative)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Initiative)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentHP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentHP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Str)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Str)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Con)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Con)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Int)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Int)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CharAbilities)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Ability</th>
                    <th>Score</th>
                    <th>Modifier</th>
                </tr>
                @foreach (var item in Model.CharAbilities)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AbilityScore.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mod)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
